CREATE SCHEMA IF NOT EXISTS ${SCHEMA};
REVOKE CREATE ON SCHEMA ${SCHEMA} FROM PUBLIC;

-- migration user
CREATE ROLE ${MIGRATION_USER} NOSUPERUSER NOCREATEDB NOCREATEROLE INHERIT LOGIN PASSWORD '${MIGRATION_USER_PW}';
GRANT CONNECT ON DATABASE ${DINA_DB} TO ${MIGRATION_USER};
GRANT USAGE, CREATE ON SCHEMA ${SCHEMA} TO ${MIGRATION_USER};
ALTER DEFAULT PRIVILEGES IN SCHEMA ${SCHEMA} GRANT ALL PRIVILEGES ON TABLES TO ${MIGRATION_USER};

-- web user
CREATE ROLE ${WEB_USER} NOSUPERUSER NOCREATEDB NOCREATEROLE INHERIT LOGIN PASSWORD '${WEB_USER_PW}';
GRANT CONNECT ON DATABASE ${DINA_DB} TO ${WEB_USER};
GRANT USAGE ON SCHEMA ${SCHEMA} TO ${WEB_USER};
GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA ${SCHEMA} TO ${WEB_USER};
ALTER DEFAULT PRIVILEGES FOR USER ${MIGRATION_USER} IN SCHEMA ${SCHEMA} GRANT SELECT, INSERT, UPDATE, DELETE, REFERENCES ON TABLES TO ${WEB_USER};
ALTER DEFAULT PRIVILEGES FOR USER ${MIGRATION_USER} IN SCHEMA ${SCHEMA} GRANT SELECT, USAGE ON SEQUENCES TO ${WEB_USER};
